<h1>Table Information</h1>

            <table class="table">
              <thead>
                <tr>
                  <th><i class="icon-signal"></i></th>
                  <th>Table Name</th>
                  <th>Desc</th>
                  <th>Last modify change</th>
                </tr>
              </thead>
              <tbody>
                <tr class="success">
                  <td><%= @tables.id =%> </td>
                  <td><%= @tables.table_name =%> </td>
                  <td><%= @tables.table_desc =%> </td>
                  <td><%= @tables.updated_at =%> </td>
                </tr>

              </tbody>
            </table>

<h2>Column List:</h2>
<div class="bs-docs-example">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Desc</th>
                  <th>Last modify change</th>
                </tr>
              </thead>
              <tbody>
<% @tables.columns.each do |column| %>
                <tr>
                  <td><%= column.id =%> </td>
                  <td><%= column.column_name =%></td>
                  <td><%= column.column_type =%></td>
                  <td><%= column.column_desc =%> </td>
                  <td><%= column.updated_at =%> </td>
                </tr>
<% end %>
              </tbody>
            </table>
</div>

<h2>Add a Column:</h2>
<div class="row">
  <div class="span6 offset3">
<%= form_for([@tables, @tables.columns.build]) do |f| %>

      <%= f.label :column_name %>
      <%= f.text_field :column_name %>

<%= f.label :column_type %>     



<select id="column_column_type" name="column[column_type]" >

                <option value="int">Int</option>

                <option value="varchar">Varchar</option>

                <option value="float">Float</option>

                <option value="enum">Enum</option>

                <option value="date">Date</option>

                <option value="time">Time</option>

                <option value="timestamp">DateTime</option>

</select>

      <%= f.label :column_size_or_value %>
      <%= f.text_field :column_size %>
      <%= f.label :column_desc %>
      <%= f.text_area :column_desc, "rows" => 3 %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
  </div>
    </div>