<h1>DataBases List</h1>

<table class="table table-striped">
              <thead>
                <tr>
                  <th>[+]</th>
                  <th>DB Name</th>
                  <th>Project Name</th>
                  <th>Project Manager</th>
                  <th>DBA</th>
                </tr>
              </thead>

              <tbody>
<%  @databases.each do |database| %>
                <tr>
                  <td><%= database.id %></td>
                  <td><%= link_to database.db_name, database %></td>
                  <td><%= database.db_project %></td>
                  <td><%= database.db_pm %></td>
                  <td><%= database.db_user %></td>
                </tr>
<% end %>
              </tbody>

            </table>
